.App {
  margin: 0 auto;
  padding: 0 2rem;
  width: 460px;
  height: 100%;
}

.header {
  text-align: center;
}

.logo {
  margin: 1rem auto 0rem;
}

.nav {
  display: flex;
  height: 70px;
  padding: 0px;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
}

.image {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.shirt {
  background-image: url("/blue_t.png");
}

.pants {
  background-image: url("/blue_p.png");
}

.skirt {
  background-image: url("/blue_s.png");
}

.color {
  height: 45px;
  box-sizing: border-box;
  padding: 0 1rem;
  border: 1px solid blue;
  border-radius: 5px;
  font: bold 1rem/45px source-code-pro, Menlo, Monaco, Consolas;
}
.blue {
  background-color: blue;
  border: 1px solid blue;
}

.yellow {
  border-color: yellow;
  background-color: yellow;
}

.pink {
  border-color: pink;
  background-color: pink;
}

.image:hover {
  width: 60px;
  height: 60px;
}
li:hover {
  transform: scale(1.1);
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.listItem {
  width: 100%;
  height: 60px;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}

.itemImg {
  width: 50px;
  height: 50px;
  margin: 1rem;
}
span {
  font: 500 1.1rem/45px source-code-pro, Menlo, Monaco, Consolas;
}
